<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{nameUser}}
    </ion-title>
    <button ion-button icon-only (click)="presentPopover($event)">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content class="background-color">

<!--
  <ion-list>
    <ion-item *ngFor="let order of user.orders">
        <h2>{{order.par1}}</h2>
        <button ion-button small item-end (click)="deleteOrder(order)" color="danger">
          <ion-icon name="close"></ion-icon>
        </button>
        <h3>{{order.par2}}</h3>
        <p>
        <button ion-button item-right (click)="detailsOrder(order)">Details</button>
        <button ion-button item-left (click)="timelineOrder(order)">Timeline</button>
        </p>
      </ion-item>
  </ion-list>
-->

  <ion-list>
    <ion-item-sliding *ngFor="let order of user.orders">
        <ion-item>
          <h2>{{order.name}}</h2>
            
          <h3>{{order.customer}}</h3>
        </ion-item>
        
        <ion-item-options side="right">
          <button ion-button (click)="deleteOrder(order)" color="danger">
            <ion-icon name="trash"></ion-icon>
            DELETE
          </button>
        </ion-item-options>
        <ion-item-options side="left">
          <button ion-button (click)="detailsOrder(order)" color="cblue">
            <ion-icon name="information"></ion-icon>
            INFO
          </button>
          <button ion-button (click)="timelineOrder(order)" color="cgreen">
            <ion-icon name="clock"></ion-icon>
            PROCESS
          </button>
        </ion-item-options>
      </ion-item-sliding>     
  </ion-list>

  <button ion-button full (click)="scanCode()" color="primary">
    <!--<ion-icon name="add"></ion-icon>-->
    SCAN
  </button>
</ion-content>