
<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        {{order.name}}
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>    
    </ion-navbar>
</ion-header>
  
  
<ion-content padding class="background-color">
  
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        Čas zpracování
      </ion-card-title>
      <ion-list>
        <ion-item text-wrap *ngFor="let time of order.timeS; let i=index" [color]="order?.timeE[i] ? 'tgreen' : 'tyellow'">
          <ion-row>
            <ion-col>
              {{time | date: 'dd/MM/yy H:mm' }} <br />do <br /><div *ngIf="order?.timeE[i]">{{order.timeE[i] | date: 'dd/MM/yy H:mm' }}</div>
            </ion-col>
            <ion-col col-auto>
              <button ion-button small (click)="deleteTime(i)" color="danger">
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
      <button ion-button (click)="showChart()">Graf</button>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col>
      <button ion-button block disabled="{{bDis}}" (click)="changeTimeOrder()">{{bLabel}}</button>
    </ion-col>
    <ion-col>
      <button ion-button block (click)="finishOrder()">Ukončit</button>
    </ion-col>  
  </ion-row>
  
</ion-content>