page-home {
    ion-input{
        border: 1px solid #91BAC8;
        background: white;
    }
    .loginForm {
        margin-top: 40%;
        }
    .background-color {
        background: color($colors,light);
    }
}
